<a href="https://colab.research.google.com/github/18K41A0586/assignment1/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
x=int(input("Enter the year for Zodiac sign:"))
year=x%12
zodiac={0:"monkey",1:"rooster",2:"dog",3:"pig",4:"rat",5:"ox",6:"tiger",7:"rabbit",8:"dragon",9:"snake",10:"horse",11:"sheep"}
print(zodiac[yr])

Enter the year for Zodiac sign:2000
dragon

In [3]:
distance=int(input("Distance to be travel:"))
wt=int(input("Weight of the goods:"))
if distance>=500:
  if wt>=100:
    cost=5*distance
  elif wt>=10 and wt <100:
    cost=6*distance
  else:
    cost=7*distance 
else:
  if wt>=100:
    cost=8*distance
  else:
    cost=5*distance 
print("Amount to be charged:",cost)

Distance to be travel:500
Weight of the goods:75
Amount to be charged: 3000

In [4]:
x=["Stalls","Circle","UpperClass","box"]
s=input("Type of seat:")
paym=input("Payment mode:")
p="cash"
if paym==p:
  if s in x[0]:
    dis=625*(0.1)
    y=625-dis
  elif s in x[1]:
    dis=750*(0.1)
    y=750-dis
  elif s in x[2]:
    dis=850*(0.1)
    y=850-dis
  else:
    dis=1000*(0.1)
    y=1000-dis
else:
  if s in x[0]:
    dis=625*(0.05)
    y=625-dis
  elif s in x[1]:
    dis=750*(0.05)
    y=750-dis
  elif s in x[2]:
    dis=850*(0.05)
    y=850-dis
  else:
    dis=1000*(0.05)
    y=1000-dis
print(y)

Type of seat:box
Payment mode:cash
900.0

In [6]:
w=int(input("Enter Amount of water:"))
x=w*(100-0)*4184
print("Energy:",x)

Enter Amount of water:500
Energy: 209200000

In [7]:
mon=input("Enter the month:")
wint=["December","January","February"]
spr=["March","April","May"]
summ=["June","July","August"]
aut=["September","October","november"]
if mon in wint:
  print("Winter")
if mon in spr:
  print("Spring")
elif mon in summ:
  print("Summer")
elif mon in aut:
  print("Autumn")

Enter the month:April
Spring

In [8]:
wt=float(input("Enter weight:"))
ht=float(input("Enter height:"))
wt=wt*0.45359237
ht=ht*0.0254
b=wt/(ht**2)
if b<18.5:
  print("Underweight")
elif b>=18.5 and b<25.0:
  print("Normal")
elif b>=25.0 and b<30.0:
  print("Overweight")
else:
  print("Obese") 
print("BMI is:",b)

Enter weight:45
Enter height:153
Underweight
BMI is: 1.351537061974547

In [9]:
numbr=int(input("Enter number between 100 and 1000:"))
rem=0
sum=0
if(numbr>=100 and numbr<=1000):
    while numbr > 0:
      rem=numbr%10
      sum=sum+rem
      numbr=numbr//10
print("Sum of all digits :",sum)

Enter number between 100 and 1000:123
Sum of all digits : 6

In [12]:

for n in range(1,1001):
  temp=n
  rev=0
  if(n>=1 and n<=1000):
    while temp > 0:
      rem=temp%10
      rev=(rev*10)+rem
      temp=temp//10
    if n==rev:  
      print(n ,end=" ")

1 2 3 4 5 6 7 8 9 11 22 33 44 55 66 77 88 99 101 111 121 131 141 151 161 171 181 191 202 212 222 232 242 252 262 272 282 292 303 313 323 333 343 353 363 373 383 393 404 414 424 434 444 454 464 474 484 494 505 515 525 535 545 555 565 575 585 595 606 616 626 636 646 656 666 676 686 696 707 717 727 737 747 757 767 777 787 797 808 818 828 838 848 858 868 878 888 898 909 919 929 939 949 959 969 979 989 999

In [13]:
for n in range(1,1001):
  sum=0
  temp=n
  while temp>0:
    d=temp%10
    sum+=d**3
    temp//=10
  if n==sum:
    print(n,end=" ")

1 153 370 371 407

In [14]:
for i in range(1,101):
  if i%3==0 and i%5==0:
    print("Fizz buzz")
  elif i%5==0:
    print("buzz")
  elif i%3==0:
    print("fizz")
  else:
    print(i)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
Fizz buzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
Fizz buzz
31
32
fizz
34
buzz
fizz
37
38
fizz
buzz
41
fizz
43
44
Fizz buzz
46
47
fizz
49
buzz
fizz
52
53
fizz
buzz
56
fizz
58
59
Fizz buzz
61
62
fizz
64
buzz
fizz
67
68
fizz
buzz
71
fizz
73
74
Fizz buzz
76
77
fizz
79
buzz
fizz
82
83
fizz
buzz
86
fizz
88
89
Fizz buzz
91
92
fizz
94
buzz
fizz
97
98
fizz
buzz

In [15]:
hgt=int(input("hgt:"))
u=int(input("u:"))
d=int(input("d:"))
k=0
while (u-d)*k <=(hgt-u):
    k=k+1
print(k+1)

hgt:500
u:20
d:15
98